/* General styles for the entire website*/

body.home-page {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

a {
    color: hsl(218, 44%, 22%);
    text-decoration: underline;
}

a:hover {
    color:hsl(220, 15%, 55%);
    text-decoration: underline;
}

/*specific styles for the web design page*/
body.web-design {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Specific styles for the QR web container */
.qr-web-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-frame {
        background-color: hsl(212, 45%, 89%); /* Light grey-blue color */
        padding: 2rem; /* Padding around the entire content */
        border-radius: 15px;
        box-shadow: 0 4px 16px hsl(220, 15%, 55%);
}

.qr-code {
    display: block;
    width: 100%;
    border-radius: 15px;
}

.qr-padding {
    background-color: white;
    padding: 1rem;
    padding-bottom: 6rem; /* Extend bottom padding */
    border-radius: 15px;
    box-shadow: 0 4px 16px hsl(220, 15%, 55%);
    text-align: center;
}

.bold-text {
    font-weight: bold;
    margin: 0;
    font-size: 15px;
    color: hsl(218, 44%, 22%);
}

.normal-text {
    font-size: 0.875rem; /* Smaller font size */
    margin: 0;
    margin-top: 0.5rem;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

.qr-code {
    display: block;
    width: 100%;
    border-radius: 15px; /* Add rounded edges to the QR code image */
    margin-bottom: 1rem; /* Space between the QR code and text */
}