/* General styles for the entire website*/

body.home-page {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

a {
    color: hsl(218, 44%, 22%);
    text-decoration: underline;
}

a:hover {
    color:hsl(220, 15%, 55%);
    text-decoration: underline;
}

/*specific styles for the web design page*/
body.web-design {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/*specific styles for the QR web container page*/
body.qr-web-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
