/* General styles for the entire website*/

body.home-page {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

a {
    color: hsl(218, 44%, 22%);
    text-decoration: underline;
}

a:hover {
    color:hsl(220, 15%, 55%);
    text-decoration: underline;
}

/*specific styles for the web design page*/
body.web-design {
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

/* Specific styles for the QR web container */
.qr-frame {
    background-color: hsl(212, 45%, 89%); /* Light grey-blue color */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 18px hsl(212, 45%, 89%);
}

.qr-padding {
    background-color: white;
    padding: 1rem 1rem 1.5rem 1rem; /* Adjust padding: top right bottom left */ 
    border-radius: 15px;
    box-shadow: 0 4px 18px hsl(212, 45%, 89%);
    text-align: center;
    max-width: 200px;
    width: 100%;
}

.bold-text {
    font-weight: 700;
    margin: 0;
    font-size: 1rem;
    color: hsl(218, 44%, 22%);
}

.normal-text {
    font-size: 0.7rem; 
    margin: 0;
    margin-top: 0.5rem;
    color: hsl(220, 15%, 55%);
}

.qr-code {
    display: block;
    width: 100%;
    border-radius: 15px; /* Add rounded edges to the QR code image */
    margin-bottom: 1rem; /* Space between the QR code and text */
}

/* Responsive styles */
@media (min-width: 320px) and (max-width: 767px) {
    .qr-padding {
        width: 90%; /* Adjust width for small screens */
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .qr-padding {
        width: 70%; /* Adjust width for medium screens */
    }
}

@media (min-width: 1024px) {
    .qr-padding {
        width: 300px; /* Adjust width for large screens */
    }
}